@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* colors i like */
/* BLUE */
/* #007BFF  */
/* rgba(0, 123, 255, 1) */

/* end blue */

/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */

.fade-transition {
    transition: color 2s ease-in-out;
}

/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */

/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */

/* main nav button */
.burger-button-burger {
    transition: transform 0.3s ease;
}

.burger-button-top-left {
    transition: transform 0.3s ease;
}
.burger-button-top-right {
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}
.burger-button-bottom-left {
    transition: transform 0.3s ease;
    transition-delay: 0.4s;
}
.burger-button-bottom-right {
    transition: transform 0.3s ease;
    transition-delay: 0.6s;
}

.burger-button:hover .burger-button-top-left {
    transform: translate(5.5px, 5.5px);
}
.burger-button:hover .burger-button-top-right {
    transform: translate(-5.5px, 5.5px);
}
.burger-button:hover .burger-button-bottom-left {
    transform: translate(5.5px, -5.5px);
}
.burger-button:hover .burger-button-bottom-right {
    transform: translate(-5.5px, -5.5px);
}
/* end main nav button */

/* control button  */
.control-button-top-circle,
.control-button-bottom-circle {
    /* transition: transform 0.8s ease; */
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.control-button:hover .control-button-top-circle {
    transform: translate(80px, 0px);
}

.control-button:hover .control-button-bottom-circle {
    transform: translate(-80px, 0px);
}

.control-button:hover {
    color: #007bff;
}
.control-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.control-button:hover .control-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}
/* end control button */

/* audio button */
.audio-button:hover {
    color: #007bff;
}
.audio-button-left-pod,
.audio-button-right-pod {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.audio-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}

.audio-button:hover .audio-button-left-pod {
    transform: translate(0px, 25px);
}


.audio-button:hover .audio-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end audio button */

/* about button */
/* end about button */

/* contact button */
/* end contact button */

/* close button */
/* end close button */
