@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* colors i like */
/* BLUE */
/* #007BFF  */
/* rgba(0, 123, 255, 1) */

/* end blue */

/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */

.fade-transition {
    transition: color 2s ease-in-out;
}

/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */

/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */

/* main nav button */
.burger-button-burger {
    transition: transform 0.3s ease;
}

.burger-button-top-left {
    transition: transform 0.3s ease;
}
.burger-button-top-right {
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}
.burger-button-bottom-left {
    transition: transform 0.3s ease;
    transition-delay: 0.4s;
}
.burger-button-bottom-right {
    transition: transform 0.3s ease;
    transition-delay: 0.6s;
}

.burger-button:hover .burger-button-top-left {
    transform: translate(5.5px, 5.5px);
}
.burger-button:hover .burger-button-top-right {
    transform: translate(-5.5px, 5.5px);
}
.burger-button:hover .burger-button-bottom-left {
    transform: translate(5.5px, -5.5px);
}
.burger-button:hover .burger-button-bottom-right {
    transform: translate(-5.5px, -5.5px);
}
/* end main nav button */

/* control button  */
.control-button-top-circle,
.control-button-bottom-circle {
    /* transition: transform 0.8s ease; */
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.control-button:hover .control-button-top-circle {
    transform: translate(80px, 0px);
}

.control-button:hover .control-button-bottom-circle {
    transform: translate(-80px, 0px);
}

.control-button:hover {
    color: #007bff;
}
.control-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.control-button:hover .control-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}
/* end control button */

/* audio button */
.audio-button:hover {
    color: #007bff;
}
.audio-button-left-pod,
.audio-button-right-pod {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.audio-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}

.audio-button:hover .audio-button-left-pod {
    transform: translate(0px, 25px);
}

.audio-button:hover .audio-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end audio button */

/* about button */

.about-button:hover {
    color: #007bff;
}
.about-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.about-button:hover .about-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}
/* .figure{}
.arm1{}
.wrist1{}
.arm2{}
.wrist2{}
.leg1{}
.calf1{}
.leg2{}
.calf2{}
 */

/* contact button */

.contact-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.contact-button-smiley {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(0);
    /* transition-delay: 0.6s; */
}

.contact-button:hover .contact-button-smiley {
    transform: scale(1);
}

.contact-button:hover {
    color: #007bff;
}
.contact-button:hover .contact-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end contact button */

/* close button */

.close-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.close-button-svg {
    background-color: black;
    transition: background-color ease;
}
.close-button-x {
    transform-origin: center;
    scale: 1;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.close-button:hover .close-button-svg {
    background-color: #007bff;
}
.close-button:hover .close-button-x {
    transform: rotate(90deg) scale(1.2);
}

.close-button:hover .close-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end close button */

/* ----------     SCANLINES     ----------- */
/* ----------     SCANLINES     ----------- */
/* ----------     SCANLINES     ----------- */

/* Scanlines && Flicker  */

@keyframes blink {
    to {
        opacity: 0;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.15795;
    }
    5% {
        opacity: 0.31511;
    }
    10% {
        opacity: 0.94554;
    }
    15% {
        opacity: 0.2469;
    }
    20% {
        opacity: 0.62031;
    }
    25% {
        opacity: 0.0293;
    }
    30% {
        opacity: 0.00899;
    }
    35% {
        opacity: 0.5344;
    }
    40% {
        opacity: 0.12778;
    }
    45% {
        opacity: 0.52042;
    }
    50% {
        opacity: 0.3823;
    }
    55% {
        opacity: 0.2198;
    }
    60% {
        opacity: 0.9383;
    }
    65% {
        opacity: 0.86615;
    }
    70% {
        opacity: 0.68695;
    }
    75% {
        opacity: 0.55749;
    }
    80% {
        opacity: 0.96984;
    }
    85% {
        opacity: 0.0361;
    }
    90% {
        opacity: 0.24467;
    }
    95% {
        opacity: 0.08351;
    }
    100% {
        opacity: 0.54813;
    }
}

.retro-scanlines {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: 25;
}
/* scanlines are just made from varying linear-gradient values */

.retro-scanlines:before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.03),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.03)
        );
    background-size: 100% 2px, 8px 100%;
    content: '';
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

.retro-scanlines:after {
    animation: flicker 0.9s infinite;
    background: rgba(16, 16, 16, 0.2);
    content: '';
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

/* ----------     END SCANLINES     ----------- */
/* ----------     END SCANLINES     ----------- */
/* ----------     END SCANLINES     ----------- */
