@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-dark: radial-gradient(
        ellipse at bottom,
        #1b2735 0%,
        #090a0f 100%
    );
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background: var(--background-dark);
        color: rgb(var(--foreground-rgb));
    }
}
/* Dark mode styles */
@media (prefers-color-scheme: light) {
    body {
        background: var(--background-dark);
        color: rgb(var(--foreground-rgb));
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-dark);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
/* --------------     fonts     --------------  */

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas-Neue-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
    font-style: normal;
}

/* colors i like */
/* BLUE */
/* #007BFF  */
/* rgba(0, 123, 255, 1) */
/* bg-[#4EBEFF] hover:bg-[#3DA0E3] text-white  */

/* end blue */

/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */
/* ------ LOADING SCREEN ------ */

.fade-transition {
    transition: color 1.5s linear;
}

.blue-to-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg)
        brightness(100%);
}
.background-fade {
    animation: backgroundOpacityFade 1s forwards;
}

@keyframes backgroundOpacityFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */
/* ------ END LOADING SCREEN ------ */

/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */
/* ------ NAV BAR ------ */

/* main nav button */
.burger-button-burger {
    transition: transform 0.3s ease;
}

.burger-button-top-left {
    transition: transform 0.3s ease;
}
.burger-button-top-right {
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}
.burger-button-bottom-left {
    transition: transform 0.3s ease;
    transition-delay: 0.4s;
}
.burger-button-bottom-right {
    transition: transform 0.3s ease;
    transition-delay: 0.6s;
}

.burger-button:hover .burger-button-top-left {
    transform: translate(5.5px, 5.5px);
}
.burger-button:hover .burger-button-top-right {
    transform: translate(-5.5px, 5.5px);
}
.burger-button:hover .burger-button-bottom-left {
    transform: translate(5.5px, -5.5px);
}
.burger-button:hover .burger-button-bottom-right {
    transform: translate(-5.5px, -5.5px);
}
/* end main nav button */

/* nav background ---  */
.nav-menu-background {
    background: rgba(255, 255, 255, 0);
    visibility: hidden;
}
.nav-menu-background-open {
    background: rgba(255, 255, 255, 0.7);
}

/* end nav background */

/* control button  */
.control-button-top-circle,
.control-button-bottom-circle {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.control-button:hover .control-button-top-circle {
    transform: translate(80px, 0px);
}

.control-button:hover .control-button-bottom-circle {
    transform: translate(-80px, 0px);
}

.control-button:hover {
    color: #007bff;
}
.control-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.control-button:hover .control-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}
/* end control button */

/* audio button */
.audio-button:hover {
    color: #007bff;
}
.audio-button-left-pod,
.audio-button-right-pod {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.audio-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}

.audio-button:hover .audio-button-left-pod {
    transform: translate(0px, 25px);
}

.audio-button:hover .audio-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end audio button */

/* about button */

.about-button:hover {
    color: #007bff;
}
.about-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.about-button:hover .about-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* contact button */

.contact-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.contact-button-smiley {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: scale(0);
}

.contact-button:hover .contact-button-smiley {
    transform: scale(1);
}

.contact-button:hover {
    color: #007bff;
}
.contact-button:hover .contact-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end contact button */

/* close button */

.close-button-text {
    color: black;
    background-color: none;
    transition: background-color ease;
}
.close-button-svg {
    background-color: black;
    transition: background-color ease;
}
.close-button-x {
    transform-origin: center;
    scale: 1;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.close-button:hover .close-button-svg {
    background-color: #007bff;
}
.close-button:hover .close-button-x {
    transform: rotate(90deg) scale(1.2);
}

.close-button:hover .close-button-text {
    background-color: rgba(0, 123, 255, 0.25);
}

/* end close button */

/* ------ END NAV BAR ------ */
/* ------ END NAV BAR ------ */
/* ------ END NAV BAR ------ */
/* ------ END NAV BAR ------ */

/* ----------     STARS BACKGROUND     ----------- */
/* ----------     STARS BACKGROUND     ----------- */
/* ----------     STARS BACKGROUND     ----------- */
/* ----------     STARS BACKGROUND     ----------- */

.night-sky {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.starsSmall,
.starsSmall:after {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: starMove 50s linear infinite;
    content: '';
    position: absolute;
    top: 0px;
}

.starsMedium,
.starsMedium:after {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: starMove 100s linear infinite;
    content: '';
    position: absolute;
    top: 0px;
}

.starsLarge,
.starsLarge:after {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: starMove 150s linear infinite;
    content: '';
    position: absolute;
    top: 0px;
}

@keyframes starMove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-1000px);
    }
}

/* ----------     END STARS BACKGROUND     ----------- */
/* ----------     END STARS BACKGROUND     ----------- */
/* ----------     END STARS BACKGROUND     ----------- */
/* ----------     END STARS BACKGROUND     ----------- */

/* ----------     SCANLINES     ----------- */
/* ----------     SCANLINES     ----------- */
/* ----------     SCANLINES     ----------- */

/* Scanlines && Flicker  */

@keyframes blink {
    to {
        opacity: 0;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.15795;
    }
    5% {
        opacity: 0.31511;
    }
    10% {
        opacity: 0.94554;
    }
    15% {
        opacity: 0.2469;
    }
    20% {
        opacity: 0.62031;
    }
    25% {
        opacity: 0.0293;
    }
    30% {
        opacity: 0.00899;
    }
    35% {
        opacity: 0.5344;
    }
    40% {
        opacity: 0.12778;
    }
    45% {
        opacity: 0.52042;
    }
    50% {
        opacity: 0.3823;
    }
    55% {
        opacity: 0.2198;
    }
    60% {
        opacity: 0.9383;
    }
    65% {
        opacity: 0.86615;
    }
    70% {
        opacity: 0.68695;
    }
    75% {
        opacity: 0.55749;
    }
    80% {
        opacity: 0.96984;
    }
    85% {
        opacity: 0.0361;
    }
    90% {
        opacity: 0.24467;
    }
    95% {
        opacity: 0.08351;
    }
    100% {
        opacity: 0.54813;
    }
}

.retro-scanlines {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: 25;
}
/* scanlines are just made from varying linear-gradient values */

.retro-scanlines:before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.03),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.03)
        );
    background-size: 100% 2px, 8px 100%;
    content: '';
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

.retro-scanlines:after {
    animation: flicker 0.9s infinite;
    background: rgba(16, 16, 16, 0.2);
    content: '';
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
}

/* ----------     END SCANLINES     ----------- */
/* ----------     END SCANLINES     ----------- */
/* ----------     END SCANLINES     ----------- */

/* ----------     SPINNER     ----------- */
/* ----------     SPINNER     ----------- */
/* ----------     SPINNER     ----------- */

@keyframes box-animation-back {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes box-animation-front {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-135deg);
    }
    75% {
        transform: rotate(-225deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}

.rotating-box-back {
    animation: box-animation-back 3s ease-in-out 0s infinite alternate;
}

.rotating-box-front {
    transform: rotate(45deg);
    animation: box-animation-front 3s ease-in-out 0s infinite alternate;
}

/* testing */
#loading-bar-animation {
    position: relative;
    width: 350px;
}

#loading-bar-animation .loader {
    animation: rotation 3.5s forwards linear;
    position: absolute;
    top: -120px;
    left: calc(50% - 35px);
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #007bff;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    84% {
        transform: rotate(500deg);
    }
    95% {
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-top-color: #007bff;
    }
    100% {
        transform: rotate(1800deg);
        border: 5px solid #2ed573;
    }
}

#loading-bar-animation .loader:before {
    font-weight: 900;
    font-size: 2em;
    color: #2ed573;
    animation: overspin 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 3.4s;
    transform: rotate(180deg);
    opacity: 0;
}

@keyframes overspin {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

#loading-bar-animation #mouse {
    position: absolute;
    top: 100px;
    left: 80%;
    animation: mouse-positioning 3.5s forwards,
        mouse-positioning-final 1s forwards;
    animation-delay: 0s, 4s;
    z-index: 20;
}

@keyframes mouse-positioning {
    30% {
        top: 100px;
        left: 80%;
    }
    50% {
        top: 15px;
        left: 4%;
    }
    60% {
        top: 15px;
        left: 4%;
    }
    75% {
        top: 5px;
        left: 7.3%;
    }
    85% {
        top: 5px;
        left: 7.3%;
    }
    95% {
        top: 15px;
        left: 105%;
    }
    100% {
        top: 15px;
        left: 105%;
    }
}

@keyframes mouse-positioning-final {
    0% {
        top: 15px;
        left: 105%;
    }
    100% {
        top: -85px;
        left: 53%;
    }
}

#loading-bar-animation .loading-bar {
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#loading-bar-animation .loading-bar .progress-bar {
    animation: progress 3.5s forwards;
    width: 6%;
    height: 100%;
    background: #007bff;
    border-radius: 5px;
    border: 0 solid #0abde3;
}

@keyframes progress {
    0% {
        width: 6%;
    }
    50% {
        border: 0 solid #0abde3;
    }
    51% {
        border: 4px solid #0abde3;
    }
    85% {
        width: 11%;
    }
    95% {
        border: 4px solid #0abde3;
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

#loading-bar-animation .status {
    margin-top: 10px;
}

#loading-bar-animation .status .state {
    float: left;
    font-size: 0.9em;
    letter-spacing: 1pt;
    text-transform: uppercase;
    width: 100px;
    height: 20px;
    position: relative;
}

#loading-bar-animation .status .percentage {
    float: right;
}

#loading-bar-animation .status .percentage:before {
    animation: percentage-slow 3s forwards, percentage-fast 0.4s forwards;
    animation-delay: 0s, 3s;
    -webkit-animation: percentage-slow 3s forwards,
        percentage-fast 0.4s forwards;
    -webkit-animation-delay: 0s, 3s;
    content: '10%';
    font-size: 0.9em;
    letter-spacing: 1pt;
}

@keyframes percentage-slow {
    0% {
        content: '6%';
    }
    25% {
        content: '7%';
    }
    50% {
        content: '8%';
    }
    75% {
        content: '9%';
    }
    100% {
        content: '10%';
    }
}

@keyframes percentage-fast {
    0% {
        content: '10%';
    }
    100% {
        content: '100%';
    }
}

/* ----------     END SPINNER     ----------- */
/* ----------     END SPINNER     ----------- */
/* ----------     END SPINNER     ----------- */

/* ----------     AUDIO MODAL     ----------- */
/* ----------     AUDIO MODAL     ----------- */
/* ----------     AUDIO MODAL     ----------- */

input[type='range'].custom-range {
    -webkit-appearance: none;
    height: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type='range'].custom-range:hover {
    opacity: 1;
}

/* WebKit/Blink browsers */
input[type='range'].custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -4px;
}

input[type='range'].custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #999999;
    border-radius: 5px;
}

/* Firefox */
input[type='range'].custom-range::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

input[type='range'].custom-range::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #999999;
    border-radius: 5px;
}

input[type='range'].custom-range::-moz-range-progress {
    background: #999999;
}

/* Internet Explorer */
input[type='range'].custom-range::-ms-thumb {
    width: 24px;
    height: 24px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

input[type='range'].custom-range::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type='range'].custom-range::-ms-fill-lower {
    background: #999999;
    border-radius: 5px;
}

input[type='range'].custom-range::-ms-fill-upper {
    background: #999999;
    border-radius: 5px;
}

/* General styles */
input[type='range'].custom-volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 12px;
    border-radius: 5px;
    background: #999999;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type='range'].custom-volume-slider:hover {
    opacity: 1;
}

/* WebKit/Blink browsers */
input[type='range'].custom-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -4px;
}

input[type='range'].custom-volume-slider::-webkit-slider-runnable-track {
    height: 12px;
    cursor: pointer;
    background: #999999;
    border-radius: 5px;
}

input[type='range'].custom-volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

input[type='range'].custom-volume-slider::-moz-range-track {
    height: 12px;
    cursor: pointer;
    background: #999999;
    border-radius: 5px;
}

input[type='range'].custom-volume-slider::-moz-range-progress {
    background: #999999;
}

input[type='range'].custom-volume-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

input[type='range'].custom-volume-slider::-ms-track {
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type='range'].custom-volume-slider::-ms-fill-lower {
    background: #999999;
    border-radius: 5px;
}

input[type='range'].custom-volume-slider::-ms-fill-upper {
    background: #999999;
    border-radius: 5px;
}

.phonk-button-text {
    color: rgba(0, 0, 0, 0.5);
}
.phonk-button:hover .phonk-button-text {
    background: linear-gradient(
        45deg,
        #8b00ff,
        #ff3d00,
        #ff9a00,
        #ff3d00,
        #8b00ff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------     END AUDIO MODAL     ----------- */
/* ----------     END AUDIO MODAL     ----------- */
/* ----------     END AUDIO MODAL     ----------- */

/* ----------     MODAL     ----------- */
/* ----------     MODAL     ----------- */
/* ----------     MODAL     ----------- */

.shadow-vapor {
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7);
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05) 2px,
        transparent 2px,
        transparent 5px
    );
    pointer-events: none;
    z-index: 1;
}

/* ----------    END MODAL     ----------- */
/* ----------    END MODAL     ----------- */
/* ----------    END MODAL     ----------- */

/* ----------     ABOUT     ----------- */
/* ----------     ABOUT     ----------- */
/* ----------     ABOUT     ----------- */

.pulse-background {
    background-color: #007bff;
    z-index: 0;
    opacity: 0.7;
    box-shadow: 0 0 0 0 rgba(#007bff, 0.5);
    animation: sonarPulse 2s infinite;
}

@keyframes sonarPulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(#007bff, 0.5);
    }
    70% {
        transform: scale(1.5);
        opacity: 0;
        box-shadow: 0 0 0 50px rgba(#007bff, 0);
    }
    100% {
        transform: scale(2);
        opacity: 0;
        box-shadow: 0 0 0 0 rgba(#007bff, 0);
    }
}
@keyframes sonarPulseBlack {
    0% {
        transform: scale(1);
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }
    70% {
        transform: scale(1.5);
        opacity: 0;
        box-shadow: 0 0 0 50px rgba(0, 0, 0);
    }
    100% {
        transform: scale(2);
        opacity: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0);
    }
}

/* contact */
/* 
.contact-button {
    overflow: hidden;
}

.contact-button-text {
    transition: transform 0.4s cubic-bezier(0.35, 0, 0, 1),
        opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 1;
    transform: translateX(0);
}

.contact-button-circle {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1);
}

.contact-button-arrow {
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0, 1),
        transform 0.4s cubic-bezier(0.35, 0, 0, 1);
    opacity: 0;
    transform: scale(0) translateX(0);
    visibility: hidden;
}

.contact-button:hover .contact-button-circle {
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    transition-delay: 0s, 0s;
}

.contact-button:hover .contact-button-arrow {
    opacity: 1;
    transform: scale(1) translateX(15px);
    visibility: visible;
}
.contact-button:hover .contact-button-text {
    transform: translateX(15px);
} */

/* cool blur and grid effect */
/* 
.blur {
    height: 15rem;
    width: 15rem;
    background-color: #007bff;
    filter: blur(100px);
    border-radius: 100px;
}

.mid-grid {
    width: 800px;
    height: 800px;
    background: transparent;
    z-index: 1;
    mask-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 0) 60%
    );
    -webkit-mask-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 0) 60%
    );
}

.mid-grid::before,
.mid-grid::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10;
}

.mid-grid::before {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px
    );
    background-size: 80px 80px;
}

.mid-grid::after {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px
    );
    background-size: 80px 80px;
} */

/* cool purple to blue gradient */
/* bg-gradient-to-br from-purple-400 via-blue-500 to-indigo-600 */

/* 

.example-container div {
    background: white;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
  }
  
  .example-container .drag-area {
    opacity: 0.2;
    background: white;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
  } */
